[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_path = ./collections:~/.ansible/collections
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
result_format = yaml
# Para o Ansible Vault sem digitar a senha (arquivo fora do Git):
# vault_password_file = ~/.ansible/vault_pass_poc_iac

[privilege_escalation]
become = False
